:root {
  /* COLORS */
  --primary-color: #f38b46;
  --accent-color: #fbf8f5;
  --button-color: #f2725f;
  --text-color: #42434d;
  --white-color: #ffffff;

  /* WHITESPACES */
  --whitespace-large: 40px;
  --whitespace: 20px;
  --whitespace-small: 10px;

  /* BOXSHADOW */
  --boxshadow: 0 4px 6px hsla(0, 0%, 0%, 0.186);

  /* BORDER RADIUS */
  --radius: 5px;
}