body {
    width: 100vw;
    height: 100vh;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}