body {
    width: 80vw;
    height: 100vh;
    padding-top: 40px;
    background-color: #fbf8f5;
    background-image: url("../assets/mobile_bg.png");
    background-repeat: no-repeat;
    /* verander naar variabele accent */

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #42434d;
}

main {
}

hr{
  border: 0.5px solid #f38b46;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
text-decoration: none;
}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: 50px;
}

/* STAPPEN VISUAL */

#steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    margin-bottom: 15px;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 50%;
    opacity: 0.5;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 3px;

}

.isActive {
    height: 30px;
    width: 30px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 50%;
    opacity: 1;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONVERTER */

#converter{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

textarea {
  resize: none;
}

/* Z.S.M STYLEGUIDE VARIABELEN VAN MAKEN NA TESTEN*/

.buttons{
    display: flex;
    flex-direction: row;
}
button,
input[type="submit"] {
border-radius: 4px;
outline: none;
cursor: pointer;
background: #f2725f;
color: #fff;
border: 0;
padding: 8px 12px;
white-space: nowrap;
width: 100px;

margin-right: 10px;
margin-top: 10px;

display: flex;
align-items: center;
justify-content: center;
}

button:hover,
input[type="submit"]:hover {
  background: #f05d47;
}

button.secondary {
background: rgba(0,0,0,0);
border: 1px solid;
color: #f2725f;
border-color: #f2725f;
width: 100px;
}

button.secondary:hover {
  color: #f05d47;
  border-color: #f05d47;
  font-weight: 400;
  text-decoration: underline;
}

/* RESULT */

#result button{
    width: 150px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* GET PLUS */
#getPlus{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

.marketing{
    display: flex;
    flex-direction: column;
}

.price{
    color: #f2725f;
    font-size: 100px;
    font-weight: 800;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}