body {
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background-color: #fbf8f5;
    /* verander naar variabele accent */

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

#steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 50%;
    opacity: 0.5;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 3px;

}

.isActive {
    height: 30px;
    width: 30px;
    background-color: #f38b46;
    /* verander naar variabele links*/
    border-radius: 50%;
    opacity: 1;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}