@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mitr:wght@200;300;400;500;600;700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--white-color);
    background-image: url("../assets/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* verander naar variabele accent */

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Zalando Sans", sans-serif;
    color: var(--text-disabled-button);

    @media (min-width: 1000px) {
        background-color: #fbf8f5;
        background-image: url("../assets/desktop_bg.png");
        background-size: cover;
        background-attachment: fixed;
    }
}

header {
    display: none;

    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        height: auto;
        background-color: var(--primary-color);
        box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.186);
        color: var(--white-color);

        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }
}

header .price {
    @media (min-width: 1000px) {
        font-size: 25px;
    }
}

.getPlusButton {
    @media (min-width: 1000px) {
        background-color: white;
        color: var(--primary-color);
    }
}

.marketingBanner ul {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}


main {
    width: 85vw;
    height: auto;

    @media (min-width: 1000px) {
        width: 50vw;
        background-color: #fff;
        box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.186);

        padding: 20px;
        border-radius: 10px;
    }
}

hr {
    border: 0;
    border-top: 0.5px solid var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

hr .getPlus {
    @media (min-width: 1000px) {
        display: none;
    }
}

a {
    text-decoration: none;
}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;

    &p {
        width: 70%;
        text-align: center;
    }
}

#logo{
    margin-bottom: 50px;
}

/* CONVERTER */

#converter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid #d9dadb;
    border-radius: 5px;

    &::placeholder {
        color: var(--text-disabled-button);
        font-style: italic;
    }

    &:placeholder-shown {
        border-radius: 5px;
    }
}

/* Z.S.M STYLEGUIDE VARIABELEN VAN MAKEN NA TESTEN*/

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: var(--text-disabled-button);
    color: #fff;
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
    width: 100px;
    min-height: 40px;

    margin-right: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: var(--text-disabled-button);
    color: var(--white-color);
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
    width: 100px;

    margin-right: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    header a {
        @media (min-width: 1000px) {
            font-size: 25px;
            text-decoration: dotted;
            background-color: var(--white-color);
        }
    }
}

#converter:has(textarea:not(:placeholder-shown)) button {
    background-color: var(--button-color);

    animation-name: schudden;
    animation-duration: .1s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#result:has(button) button {
    background-color: var(--button-color);

    animation-name: schudden;
    animation-duration: .1s;
    animation-delay: 3s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


main:has(#result a.active) #converter button {
    background-color: var(--text-disabled-button);
}

@keyframes schudden {
    0% {
        rotate: -2deg;
    }

    100% {
        rotate: 2deg;
    }
}

button:focus-visible,
button:active {
    outline-offset: 1px;
    outline: 2px dashed var(--primary-color);
    background-color: #50515d;
}

button:focus-visible,
button:active,
textarea:focus-visible,
textarea:active {
    outline-offset: 1px;
    outline: 2px dashed var(--primary-color);
}

#seo {
    margin-bottom: 20px;
}

#vouches {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vouch {
    width: 46%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    /* box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.186); */
    border-radius: 5px;
    border: 1px solid #d9dadb;
    font-size: small;
    background-image: url("../assets/blob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 110%;
}

.vouch img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

blockquote {
    margin: 0;
}

/* RESULT */

#result {
    display: none;
}

#result button {
    background-color: var(--text-disabled-button);
    width: 150px;

    &.active {
        background-color: var(--button-color);
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* GET PLUS */
.getPlus {
    display: flex;
    flex-direction: row;

    @media (min-width: 1000px) {
        display: none;
    }
}

h3 {
    @media (min-width: 1000px) {
        display: none;
    }
}

.marketing {
    display: flex;
    flex-direction: column;
}

.price {
    color: var(--button-color);
    font-size: 100px;
    font-weight: 800;

    @media (min-width: 1000px) {
        color: var(--white-color);
        font-size: 50px;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding-left: 30px;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167L3.333 10" stroke="%23f2725f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;

    @media (min-width: 1000px) {
        color: var(--white-color);
        background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167L3.333 10" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');

    }

}