/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mitr:wght@200;300;400;500;600;700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* HEADING FONT */
@font-face {
    font-family: 'Freight-text-pro';
    src: url('../assets/fonts/freight_text_pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY TEXT FONT */
@font-face {
    font-family: 'Proxima-nova';
    src: url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* BODY TEXT FONT - BOLD/STRONG */
@font-face {
    font-family: 'Proxima-nova';
    src: url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* GENEREAL STYLING */
body {
    margin: 0;
    padding-top: var(--whitespace-large);
    padding-bottom: var(--whitespace-large);
    background-color: var(--white-color);
    background-image: url("../assets/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Proxima-nova", sans-serif;
    color: var(--text-color);

    @media (min-width: 1000px) {
        background-color: var(--accent-color);
        background-image: url("../assets/desktop_bg.png");
        background-size: cover;
        background-attachment: fixed;
    }
}

h1,
h2,
h3 {
    font-family: 'Freight-text-pro', serif;
    font-weight: bold;
}

strong {
    font-family: 'Proxima-nova', bold;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding-left: 30px;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167L3.333 10" stroke="%23f2725f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;

    @media (min-width: 1000px) {
        color: var(--white-color);
        background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167L3.333 10" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
}

blockquote {
    margin: 0;
}

hr {
    border: 0;
    border-top: 0.5px solid var(--primary-color);
    margin-top: var(--whitespace);
    margin-bottom: var(--whitespace);
}

button {
    border-radius: var(--radius);
    outline: none;
    cursor: pointer;
    background: var(--text-color);
    color: var(--white-color);
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
    width: 100px;
    min-height: 40px;
    margin-right: var(--whitespace-small);
    margin-top: var(--whitespace-small);
    display: flex;
    align-items: center;
    justify-content: center;
}

button:focus-visible,
button:active,
textarea:focus-visible,
textarea:active {
    outline-offset: 1px;
    outline: 2px dashed var(--primary-color);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* HEADER AD */
header {
    display: none;

    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        height: auto;
        background-color: var(--primary-color);
        box-shadow: var(--boxshadow);
        color: var(--white-color);
        margin-bottom: var(--whitespace);
        padding: var(--whitespace);
        border-radius: var(--radius);
    }
}

header .price {
    font-family: 'Freight-text-pro', serif;
    font-weight: bold;

    @media (min-width: 1000px) {
        font-size: 25px;
    }
}

details:hover {
    cursor: pointer;
}

.marketingBanner ul {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.getPlusButton {
    @media (min-width: 1000px) {
        background-color: var(--white-color);
        color: var(--primary-color);
    }
}

/* MAIN SECTION */
main {
    width: 85vw;
    height: auto;

    @media (min-width: 1000px) {
        width: 50vw;
        background-color: var(--white-color);
        box-shadow: var(--boxshadow);
        padding: var(--whitespace);
        border-radius: 10px;
    }
}

/* SEO SECTION */
#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: var(--whitespace);

    & p {
        width: 70%;
        text-align: center;
    }
}

#logo {
    margin-bottom: 50px;
}

#seo {
    margin-bottom: 20px;
}

#vouches {
    margin-top: var(--whitespace-small);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vouch {
    width: 46%;
    height: auto;
    padding: var(--whitespace-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: var(--radius);
    border: 1px solid #d9dadb;
    font-size: small;
    background-image: url("../assets/blob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 110%;
}

.vouch img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* CONVERTER SECTION */
#converter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid #d9dadb;
    border-radius: var(--radius);

    &::placeholder {
        color: var(--text-color);
        font-style: italic;
    }

    &:placeholder-shown {
        border-radius: var(--radius);
    }
}

#converter:has(textarea:not(:placeholder-shown)) button {
    background-color: var(--button-color);
    animation-name: schudden;
    animation-duration: .1s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/* RESULT SECTION */
#result {
    display: none;
}

#result button {
    background-color: var(--text-color);
    width: 150px;

    &.active {
        background-color: var(--button-color);
    }
}

#result:has(button) button {
    background-color: var(--button-color);
    animation-name: schudden;
    animation-duration: .1s;
    animation-delay: 3s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

main:has(#result a.active) #converter button {
    background-color: var(--text-color);
}

/* GET PLUS SECTION */
hr.getPlus {
    @media (min-width: 1000px) {
        display: none;
    }
}

h3 {
    @media (min-width: 1000px) {
        display: none;
    }
}

.getPlus {
    display: flex;
    flex-direction: row;

    @media (min-width: 1000px) {
        display: none;
    }
}

.marketing {
    display: flex;
    flex-direction: column;
}

.price {
    color: var(--button-color);
    font-size: 100px;

    @media (min-width: 1000px) {
        color: var(--white-color);
        font-size: 50px;
    }
}

/* BUTTON ANIMATIONS */
@keyframes schudden {
    0% {
        rotate: -2deg;
    }

    100% {
        rotate: 2deg;
    }
}